.Grupo5 {
  text-align: center;
}

.Grupo5-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Grupo5-logo {
    animation: Grupo5-logo-spin infinite 20s linear;
  }
}

.Grupo5-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: red;
}

.Grupo5-link {
  color: #61dafb;
}

@keyframes Grupo5-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
